<select onchange={{action (mut selection) value=value}}
  class="form-control ember-select">
  {{#each content as |contentItem|}}
    <option value={{contentItem}} >{{contentItem}}</option>
  {{/each}}
</select>
